{
    "CN": "kube-etcd",
    "key": {
               "algo": "rsa",
               "size": 2048
    },
    "hosts": [
               {% for node in etcd_nodes %}
               "{{ node }}",
               {% endfor %}
               "localhost",
               "127.0.0.1"
    ]
}

